// @import url("//hello.myfonts.net/count/30d048");


// DIN
@font-face {
  font-family: 'ffdinpro';
  src: url('../fonts/webfonts/30D048_2_0.eot');
  src: url('../fonts/webfonts/30D048_2_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/30D048_2_0.woff2') format('woff2'),
  url('../fonts/webfonts/30D048_2_0.woff') format('woff'),
  url('..//fonts/webfonts/30D048_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'ffdinpro-italic';
  src: url('../fonts/webfonts/30D048_0_0.eot');
  src: url('../fonts/webfonts/30D048_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/30D048_0_0.woff2') format('woff2'),
  url('../fonts/webfonts/30D048_0_0.woff') format('woff'),
  url('../fonts/webfonts/30D048_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'ffdinpro-bold';
  src: url('../fonts/webfonts/30D048_1_0.eot');
  src: url('../fonts/webfonts/30D048_1_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/30D048_1_0.woff2') format('woff2'),
  url('../fonts/webfonts/30D048_1_0.woff') format('woff'),
  url('../fonts/webfonts/30D048_1_0.ttf') format('truetype');
}

// Brandon Grotesque
@font-face {font-family: 'brandongrotesque-light';
  src: url('../fonts/webfonts/30D048_3_0.eot');
  src: url('../fonts/webfonts/30D048_3_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/30D048_3_0.woff2') format('woff2'),
  url('../fonts/webfonts/30D048_3_0.woff') format('woff'),
  url('../fonts/webfonts/30D048_3_0.ttf') format('truetype');
}
@font-face {font-family: 'brandongrotesque-regular';
  src: url('../fonts/webfonts/30D048_5_0.eot');
  src: url('../fonts/webfonts/30D048_5_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/30D048_5_0.woff2') format('woff2'),
  url('../fonts/webfonts/30D048_5_0.woff') format('woff'),
  url('../fonts/webfonts/30D048_5_0.ttf') format('truetype');
}
@font-face {font-family: 'brandongrotesque-bold';
  src: url('../fonts/webfonts/30D048_4_0.eot');
  src: url('../fonts/webfonts/30D048_4_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/30D048_4_0.woff2') format('woff2'),
  url('../fonts/webfonts/30D048_4_0.woff') format('woff'),
  url('../fonts/webfonts/30D048_4_0.ttf') format('truetype');
}