<section class="colophon">
    <section class="copyright">&copy; <span itemprop="copyrightHolder">Fab Atelier GmbH</span>.</section>
    <section class="poweredby">Published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
</section>
<!-- <section class="bottom">
    
</section>
 -->